In [1]:
#in programming , its common to convert integer to float , float to string, and so on
#the process of converting the value of one data type(integer, string,float etc)to another data type is called type conversion.
#python has two types of type of conversion.
# 1. implicit type conversion
#2.explicit type conversion

In [2]:
# 1. implicit type conversion
#in implicit type of conversion python atomatically convert one data type to another data type.
number_integer = 123
number_float = 12.4
#adding integer and float
sum = number_integer + number_float
print(sum)

135.4

In [1]:
#type function()
#type function() is use to find the type of variables.
a = 134
b = 1.5
print(type(a+b))

<class 'float'>

In [7]:
#explicit type conversion
#in explicit type of converson, we use the predefinedfunctions like int() ,float() , str() etc.to convert one data type to 
#another data type.
float_number = 1.5
integer_number = int(float_number)
print(integer_number)

1

In [9]:
a = '198'
b = int(a)
b

198

In [10]:
a = '12'
ab = float(a)
ab

12.0

In [11]:
a = 34
b = str(a)
b

'34'

In [12]:
#error during type conversion
#if the cnversion from one data type to another data type is not possible, you will gwt an error.
a = "apeksha_rai"
v = int(a)
v

ValueError: invalid literal for int() with base 10: 'apeksha_rai'

In [13]:
a = '556.778'
b = float(a)
b

556.778

In [14]:
a = '6788.998' #can not convert str to int
g = int(a)
g

ValueError: invalid literal for int() with base 10: '6788.998'

In [15]:
#loss of information
#if floationg- points number are converted to integers, there will loss of information.
#python removes the decimal
g = 12.45
u = int(g)
u

12